/***

        ---------- General ----------

***/
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
.container {
    width: 100%;
    height: 100%;
    background-color: white;
}

/***

        ---------- Index ----------

***/
.container .main-title {
  text-align: center;
  margin-bottom: 1em;
}

.container .center {
  text-align: center;
}

.roundedImage {
  border-radius: 100%;
  width: 140px;
  height: 140px;
}

/***

        ---------- Navigation ----------

***/
.navbar .logo {
  width: 4em;
}

/***

        ---------- Carousel ----------

***/
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.featurette-divider {
  margin: 5rem 0;
}
.featurette-heading {
  letter-spacing: -.05rem;
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/***

        ---------- Marketing Columns ----------

***/
.marketing .col-lg-4 {
  margin-bottom: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  margin-bottom: 0;
}
.marketing .col-lg-4 img {
  align-self: center;
}
.marketing .col-lg-4 .btn {
  align-self: center;
  margin-top: 1.5em;
}

/***

        ---------- Google Maps ----------

***/
.mapouter {
  position:relative;
  text-align:left;
  height:327px;
  width:100%;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:327px;
  width:100%;
}

/***

        ---------- Lecture Cards ----------

***/
.lectures-container .card {
  width: 18rem;
  min-height: 25em;
}
.lectures-container .card .card-img-top {
  height: 10em;
}
.lectures-container .card .card-body {
  display: flex;
  flex-direction: column;
}
.lectures-container .card .card-body a {
  margin-top: auto;
  align-self: flex-start;
}

/***

        ---------- Topics ----------

***/
.container.topics {
  margin-top: 5em;
}

/***

        ---------- Pagination Rounded Design ----------

***/
.pagination.rounded-design {
  padding: 30px 0;
  --bs-pagination-padding-x: unset;
  --bs-pagination-padding-y: unset;
  --bs-pagination-font-size: unset;
  --bs-pagination-color: unset;
  --bs-pagination-bg: unset;
  --bs-pagination-border-width: unset;
  --bs-pagination-border-color: unset;
  --bs-pagination-border-radius: unset;
  --bs-pagination-hover-color: unset;
  --bs-pagination-hover-bg: unset;
  --bs-pagination-hover-border-color: unset;
  --bs-pagination-focus-color: unset;
  --bs-pagination-focus-bg: unset;
  --bs-pagination-focus-box-shadow: unset;
  --bs-pagination-active-color: unset;
  --bs-pagination-active-bg: unset;
  --bs-pagination-active-border-color: unset;
  --bs-pagination-disabled-color: unset;
  --bs-pagination-disabled-bg: unset;
  --bs-pagination-disabled-border-color: unset;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination.rounded-design .page-link {
  text-decoration: none;
}
.pagination.rounded-design .page-item {
  font-size: 14px;
  color: #6c757d;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
}
.pagination.rounded-design .page-item.active{
  background-color: #6c757d;
  border-radius: 100%;
  color: #fff;
}
.pagination.rounded-design .page-item:hover {
  border: 1px solid #6c757d;
  border-radius: 100%;
}